body {
  margin: 0;
  background-color: #303030;
  display: flex;
  justify-content: center;
  color: white;
}

li {
  text-decoration: none;
  list-style: none;
}

.display-color {
  width: 30px;
  height: 30px;
  color: white;
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

input {
  font-size: 30px;
}