.titulo-h1
            {
                width: 65px;
                color: orange;
            }
            #ul_list
            {
                background-color: gray;
            }
            .p_and_ul
            {
                background-color: violet;
            }

            h1
            {
                font-family: sans-serif;
            }
            p
            {
                font-weight: 600;
                font-size: 3em;
            }
            body
            {
                font-size: 16px;
            }
            li
            {
                font-style: oblique;
                text-align: center;
            }
            #text-yellow
            {
                color: yellow;
            }
            #text-red
            {
                color: red;
            }
            #text-brown
            {
                color: brown;
            }